.text-area {
  -fx-cursor: text;
  -fx-highlight-fill: #444444; /* Background for selected text */
  -fx-highlight-text-fill: white; /* Color of selected text */
  -fx-text-fill: white; /* Color of normal text */
  -fx-caret-color: white; /* Makes the caret visible */
  -fx-font-family: "Consolas";
  -fx-font-size: 18px;
  -fx-background-color: black; /* Background color */
  -fx-line-spacing: 10px; /* Adds space between lines */
}